@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #c1c1c1;
    font-size: 106.25%;
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

.line {
    height: 1px;
    background: #424242;
    opacity: 0.2;
}

/* -------HEADER--------- */

header {
    background-color: #424242;
    display: flex;
    flex-basis:initial;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    /* position: sticky;
    top: 0; */
}

svg {
    cursor: pointer;
    min-height: 50px;
}

.nav_links {
    display: flex;
    list-style: none;
    padding-left: 0; 
    align-items: center;
}

.nav_links li {
    padding: 15px 20px;
}

.nav_links li a {
    transition: all 0.5s ease 0s
}

.nav_links li a:hover {
    color: white
}
.nav_links .fa-times {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-button {
    display: block;
    width: 100%; 
    margin: 20px 0;
}

button {
    padding: 9px 25px;
    background-image: linear-gradient(to right top, rgb(1, 170, 202), rgb(0, 178, 190), rgb(0, 184, 164), rgb(21, 188, 129), rgb(97, 188, 89));
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    color: white
}

button:hover {
    /* color: white; */
    background-image: linear-gradient(to left top, rgb(1, 170, 202), rgb(0, 178, 190), rgb(0, 184, 164), rgb(21, 188, 129), rgb(97, 188, 89));
}

/* -------GREETING-------- */

.greeting {
    background-image: url("../images/greeting_backgroung.png");
    background-size: contain;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
    /* align-items: center; */
    height: 100vh;
}

.greeting h2 {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.75rem;
    text-align-last: center;
}

/* -------- PARTNERS -------- */

.section-partners {
    height: 220px;
    padding-top: 10px;
    /* border: 3px solid red; */
}

.partners-logos-row {
    max-height: 150px;
    height: 100%;
    /* border: 3px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
}

.partners-logos-row img {
    height: 70%; 
    margin: 10px;
    /* border: 2px solid lime; */
}

/* -------GALLERY-------- */

.gallery {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 20px;
    gap: 0.75rem;
    /* padding-left: 6rem; */
    /* padding-right: 6rem; */
}

.gallery .card {
    border: 1px solid #c1c1c1;
    display: grid;
    grid-template-rows: 30% 70%;
    height: 500px;
}

.gallery .card-text {
    margin-top: 10px;
    justify-self: center;
    text-align: center;
    overflow: visible;
    background-color: white;

}

.gallery .card-image {
    /* border: 2px solid lime; */
    overflow: hidden;
}

.gallery .card-image img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* --------- SERVICES --------- */

.section-services {
    margin-top: 60px;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.section-services .section-title {
    text-align: center;
}

.section-services h1 {
    padding: 0;
    margin: 0;
}

.our-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 80px 20px;
    padding: 0 100px;
    gap: 20px;
}

.our-services .card {
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.our-services .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.our-services .service p {
    margin-top: 20px;
    font-size: 18px;
}

.service h2 {
    font-size: 64px;
    color: #333;
}

/* For mobile devices */
@media (max-width: 767px) {
    .section-services {
        padding-left: 20px;
        padding-right: 20px;
    }

    .our-services {
        grid-template-columns: 1fr;
        padding: 0;
        gap: 40px;
    }

    .service h2 {
        font-size: 48px;
    }
}

/* For tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .section-services {
        padding-left: 40px;
        padding-right: 40px;
    }

    .our-services {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        gap: 40px;
    }

    .service h2 {
        font-size: 48px;
    }
}


/* -------TESTIMONIALS-------- */

.section-testimonials{
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 35rem;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    border-radius: 2px;
}
.swiper-slide-active{
    filter: blur(0);
    background: #fff;
}
.testimonial-box{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    overflow: hidden;
}
.testimonial-box i{
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
    font-size: 48px;
}
.testimonial-box .content{
    padding: 20px;
}
.testimonial-box .details{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.testimonial-box .details .img-box{
    position: relative;
    width:  60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.testimonial-box .details .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial-box .details h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #424242;
    line-height: 1.1rem;
}
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #999;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background-color: #424242;
    opacity: 1;
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .swiper-slide {
        width: 90%;
    }
}


@media screen and (max-width: 480px) {
    .swiper-slide {
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    .testimonial-box {
        padding-top: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .testimonial-box i {
        font-size: 32px;
    }

    .testimonial-box .content {
        padding: 10px;
    }

    .testimonial-box .details .img-box {
        width: 40px;
        height: 40px;
    }

    .testimonial-box .details h3 {
        font-size: 14px;
        line-height: 1rem;
    }
}

/* -------SECTION CONTACT-------- */

.section-contact {
    background-color: #424242;
    padding: 75px 0;
}

.section-contact h1 {
    padding-bottom: 2rem;
    color: white;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.section-contact .column-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.column {
    flex: 1;
    justify-content: space-between;
    max-width: 50%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.contact-text {
    display: flex;
    align-items: center;
    color: white;
    text-align: left;
    padding: 0;
}

.contact-text i {
    font-size: 42px;
    color: white;
    padding-right: 1.5rem;
}

.contact-text .column-text .row h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.contact-text .column-text .row p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .column {
        max-width: 95%;
    }

    .contact-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-text i {
        padding: 0;
        padding-bottom: 1rem;
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .section-contact h1 {
        font-size: 2em;
    }
}

/* -------MEDIA-SCROLLER-------- */

.section-media {
    padding: 50px 10px;
}
.media-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

.media-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    gap: 1rem;
    overflow-x: auto;
    margin: 100px 0 0;
}

.media-element {
    position: relative;
    cursor: pointer;
}
.image-wrapper {
    position: relative;
    padding-bottom: 75%; /* Adjust the aspect ratio here */
    overflow: hidden;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    overflow: hidden;
    transition: background-color 0.3s;
}

.snaps-inline {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 100px;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.media-element:hover .text-wrapper {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .media-wrapper {
        grid-auto-columns: 50%;
    }
}

@media screen and (max-width: 480px) {
    .media-wrapper {
        grid-auto-columns: 100%;
    }
    .image-wrapper {
        padding-bottom: 150%; /* Increase the height for mobile devices */
    }
}

/* -------CONTACT-FORM-------- */
.contact-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    flex-wrap: wrap;
}

.contact-box {
    display: flex;
    background-color: #858585;
    border-radius: 5px;
    /* flex-wrap: wrap; */
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;

}

.contact-form form h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.contact-form form input,
form textarea {
    border: 0;
    margin: 10px 0 ;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.contact-form form button {
    width: 150px;
    /* background-color: #424242; */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-box .address {
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    color: white;
    text-align: baseline;
    margin: 3.5rem 0;
    box-sizing: border-box;
    border-left: 1px solid #c1c1c1;
}

.address p {
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .contact-box {
        width: auto;
        /* margin: 0 10px; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        width: 95%;
    }

    .contact-box .address {
        border-top: 1px solid #c1c1c1;
        border-left: none;
        text-align: center;
        margin: 50px 10px;
    }

    .contact-form form button {
        width: 100%;
}


/* -------FOOTER-------- */

.footer{
    background-color: #424242;
}

.footer > * {
    padding: 20px 100px;
}

.footer .grid-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 50%;
    padding: 20px 100px;
    font-size: small;
}

.footer .column {
    display: grid;
    grid-template-columns: auto;
}

.footer-line{
    padding: 0;
    height: 1px;
    background: white;
    opacity: 0.2;
}

.footer-logos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #858585;
}

/* ------CANON------ */
.intro {
    height: 100vh;
    display: block;
    overflow: auto;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}

.canon-main {
    height: 100vh;
    color: black;
}

.canon-main h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 48px;
}

nav .fas{
    display: none;
}
@media (max-width: 600px){

    /* -------HEADER--------- */
    header svg{
        min-height: 40px;
        max-height: 0px;
    }

    .greeting{
        height: 90vh;
        background-size: cover;
    }
    .greeting h2{
        font-size: 22px;
    }

    nav .fas{
        display: block;
        font-size: 20px;
        color: white;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        background: #858585;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s; 
    }

    nav ul li{
      
        margin: 15px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

    .cta{
        padding: 15px;
        font-size: 16px;
    }

    /* -------GREETING-------- */

    .greeting {
        background-image: url("../images/galan_img.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: auto; */
        /* align-items: center; */
        /* height: 100vh; */
    }

    .greeting h2 {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2.75rem;
        text-align: center;
    }
    /* -------- PARTNERS -------- */

    .section-partners {
        height: 150px;
        padding-top: 10px;
    }
    
    .partners-logos-row {
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: center;
        padding: 0 0px;
    }
    
    .partners-logos-row img {
        height: 40%; 
        margin: 5px;
    }

    /* -------GALLERY-------- */

    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0.75rem 0;
        gap: 0.75rem;
        /* padding-left: 0; */
        /* padding-right: 0; */
    }

    .gallery .card {
        display: grid;
        /* grid-template-rows: 25% 75%; */
        border: 1px solid #c1c1c1;
        height: 500px;
    }

    /* -------FOOTER-------- */

    .footer > * {
        padding: 0;
    }

    .footer .grid-columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        font-size: small;
    }

    /* ------- MEDIA-GALLERY ------ */
    .image-wrapper { 
        position: relative;
        padding-bottom: 100%; 
        overflow: hidden; 
        object-fit: contain;
    }
}
